header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-image: url(./images/star-trails.jpeg);
    color: white;
  }

  h1 {
    font-size: 200%;
  }

  header ul {
    list-style-type: none;
  }

    nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

    nav a {
    background-color: unset;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

    nav a:hover {
    color: red;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  .justify-center {
    justify-content: center;
  }

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: black;
    color: white;
  }

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  